<div class="container" id="home-container">
<div class="jumbotron text-center">

  <h1 class="display-4">TRY OUT THE LATEST COLLECTION</h1>
  <h2>Up to</h2> 
  <h2>30% Discount</h2>
  <h2> on This</h2>
  <h2>Season</h2>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">SHOP NOW!</a>
  </p>
</div>
</div>
