<div class="column">
  <div class="col-1">
    <#%= @cart_item.quantity %>
  </div>
  <div class="col-2">
  <%= image_tag(@cart_item.product.image_url, class: "img-res") %>
  </div>






















</div>