#card-style{
    margin-top: 20px;
   
}
#box{
    box-sizing: content-box ;
}
.img-responsive{
   margin-left: 10px;
   margin-top: 10px;
}
#card-styl{
    margin-top: 20px; 
    margin-left: 20px;

}
.link{
    text-decoration: none;
}
.another-element {
     text-align: right !important;
  }

.br{
    border-color: black;
}  
.element {
    text-align: right !important;
    margin-left: 4px;
}